USE [SCADAAssignement]
GO
/****** Object:  StoredProcedure [dbo].[AckAlarm]    Script Date: 18/05/2026 16:21:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[AckAlarm]
	-- Add the parameters for the stored procedure here
	@alarmid int,
	@ackedBy int
AS
DECLARE
@timestampResolved datetime2

SET @timestampResolved = GETDATE()

BEGIN

UPDATE Alarms
SET AcknowledgedBy = @ackedBy, TimestampResolved = @timestampResolved, Status = 1
WHERE AlarmId = @alarmid
	
END
