USE [SCADAAssignement]
GO
/****** Object:  StoredProcedure [dbo].[CreateMeasurement]    Script Date: 18/05/2026 16:20:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
ALTER PROCEDURE [dbo].[CreateMeasurement]
@sensor varchar(100),
@value float,
@timestamp varchar(100),
@ContollValue float,
@Setpoint float,
@NodeId varchar(50)
AS

DECLARE
@sensorId int

SELECT @sensorId=SensorId FROM Sensors WHERE [name]=@sensor


IF NOT EXISTS (
	SELECT 1
	FROM Measurements
	WHERE SensorId = @sensorId AND [Timestamp] = @timestamp AND [Value] = @value
)
BEGIN

	INSERT INTO Measurements (SensorId, [Timestamp], [value], ControllSignal, SetPoint, NodeId)
	VALUES (@sensorId, @timestamp, @value, @ContollValue, @Setpoint, @NodeId)
END