USE [SCADAAssignement]
GO
/****** Object:  StoredProcedure [dbo].[CreateAlarm]    Script Date: 18/05/2026 16:20:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[CreateAlarm]
	-- Add the parameters for the stored procedure here
	@measurementId int,
	@severity int,
	@alarmlimit float
AS
BEGIN

INSERT INTO Alarms (MeasurementId, Severity, AlarmLimit, Status)
VALUES (@measurementId, @severity, @alarmlimit, 0)
	
END
