USE [SCADAAssignement]
GO
/****** Object:  StoredProcedure [dbo].[CreateSensor]    Script Date: 18/05/2026 16:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
ALTER PROCEDURE [dbo].[CreateSensor]
@Asset varchar(100),
@Type varchar(100),
@Manufacturer varchar(100),
@model varchar(100),
@unit varchar(30),
@samplingRate int,
@alarmLimit int
AS

DECLARE
@assetId int,
@typeId int,
@NextNumber int,
@GeneratedName VARCHAR(200)

SELECT @typeId=TypeId FROM SensorTypes WHERE name=@Type
SELECT @assetId=AssetId FROM Assets WHERE name=@Asset


SELECT @NextNumber = COUNT(*) + 1
FROM Sensors
WHERE Type = @typeid
AND AssetId=@assetId;

SET @GeneratedName = CONCAT(@Type, '.', @Asset, '.', @NextNumber);


INSERT INTO Sensors (AssetId, Name, type, Manufacturer, Model, Unit, SamplingRate, alarmLimit)
VALUES (@assetId, @GeneratedName, @typeId, @Manufacturer, @model, @unit, @samplingRate, @alarmLimit)

